# specific to CodeBlocks IDE
*.layout
*.depend
# generated directories
bin/
obj/
*.exe
*.out
*.in
*.cbp
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.vscode
*.dSYM
.DS_Store